#welcome {
  position: relative;
  height: 680px;
  background-color: blue;
}

#welcome section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 340px;
  bottom: 40px;
  color: white;
  text-align: center;
}

#welcome h1 {
  font-size: 60px;
}

#welcome i {
  font-size: 26px;
}


/* iPhones Section */

#iPhones {
  padding-top: 100px;
}

#iPhones h2 {
  font-size: 40px;
  text-align: center;
}

#iPhones section {
  position: relative;
  overflow: hidden;
  width: 420px;
  height: 345px;
  padding-top: 100px;
  margin: 0 auto;
}

.iPhoneMock {
  position: absolute;
  background-size: cover;
}

#iPhoneSide2 {
  width: 400px;
  height: 400px;
  margin-left: -55px;
  background-image: url(../images/hack_exchange_iphone6_silver_side2.png);
}

#iPhoneSide1 {
  width: 445px;
  height: 445px;
  margin-top: -39px;
  margin-left: 55px;
  background-image: url(../images/hack_exchange_iphone6plus_silver_side1.png);
}
